<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pace Demo</title>
    <link rel="stylesheet" href="../../static/management/plugins/pace/themes/blue/pace-theme-.css">
    <script data-pace-options='{ "ajax": false }' src="../../static/management/plugins/pace/pace.js"></script>
</head>
<body>
    <button id="btn" type="button">加载</button>
    <script>
        // 获得【重新加载】按钮
        var btn=document.getElementById('btn');
        // 点击按钮，重新加载页面，进度条也会重新加载
        btn.onclick=function(){
            Pace.restart();
        }
    </script>
</body>
</html>